h1 {
	margin-top: 50px;
	font-family: "Roboto", sans-serif;
	color: rgb(70, 70, 70);
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}

.account_container {
	display: flex;
	flex-direction: column;
	height: 80vh;
	margin: 100px 45vw;
}

.account_container > a {
	text-decoration: none;
	padding: 20px;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	border: 0;
	margin-top: 40px;
	border-radius: 4px;
	padding: 10px;
	color: white;
	text-align: center;
	height: 30px;
}

a:hover {
	cursor: pointer;
}

.orders {
	background-color: #d1d424;
}

.manage {
	background-color: #304ed1;
}

 .password {
	background-color: #46b980;
}


.delete_account {
	background-color: #DB504A;
}