* {
    box-sizing: border-box;
}

h2 {
	margin-top: 50px;
	font-family: "Roboto", sans-serif;
	color: rgb(54, 54, 54);
	font-size: 30px;
	text-align: center;
}

h3 {
	font-size: 30px;
	margin-bottom: 5px;
}

.total_price {
	font-size: 20px;
}

.wrapper-cart{
	margin: 30px 30vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
    text-align: center;
}

.change_quantity {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 20px;
	width: 800px;
}

.info-product {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    display: flex;
	justify-content: space-between;
	color: rgb(71, 71, 71);
	width: 60%;
	margin: 0 20px;
}

.image-container {
    padding: 5px;
    width: 150px;
}

.image {
    max-width: 90%;
}

.product-summary {
    margin-top: 50px;

}

.summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

.info-order {
	font-family: "Roboto", sans-serif;
	color: rgb(71, 71, 71);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product_price {
	font-size: 15px;
}

button {
	border: none;
	color: white;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	border-radius: 5px 5px 5px 5px;
    margin: 5px auto;
}

button:hover {
	cursor: pointer;
}

button[name=delete] {
    background-color: #DB504A;
}

button[name=add] {
    background-color: #46b980;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: #39ace7;
}

button[name=order] {
    background-color: #304ed1;
}